#include "dabase_v02.dtsi"
#include <behaviors/battery_history_request.dtsi>
#include <input/processors.dtsi>
#include <input/processors/runtime-input-processor.dtsi>

/ {
    // Hijack the inherited physical kscan and turn it into the mock kscan
    kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <>;
    };

    chosen {
        zmk,kscan = &kscan;
    };
};
